@charset "UTF-8";

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.left-box,
.right-box,
.center-box {
  width: 800px;
  margin: 50px auto;
  overflow: hidden;
}

/* 左邊圖片 */
.left-box figure {
  float: left;
  width: 300px;
  margin: 0 24px 16px 0;
}

/* 右邊圖片 */
.right-box figure {
  float: right;
  width: 300px;
  margin: 0 0 16px 24px;
}

/* 中間圖片 */
.center-box figure {
  width: 600px;
  margin: 0 auto 20px;
}

.left-box p,
.right-box p {
  max-width: 650px;
  line-height: 1.8;
}

.center-box p {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.6;
  margin-top: 20px;
}

figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  border: 1px solid #666;
}

.center-box figure img {
  width: 600px;
  height: auto;
  object-fit: contain;
}


figure {
  text-align: center;
}

figcaption {
  margin-top: 8px;
}

p {
  margin: 0;
  line-height: 1.8;
}